<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styleA.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
       <div class="left">
           <img src="/img/best.jpg"alt=""></div>
        <div class="right">
            <strong>As frutas desempenham um papel crucial na saúde e no bem-estar dos estudantes.</strong>:<br>
            Em tempos de prova, é essencial que os alunos escolham alimentos que proporcionem energia e bem-estar,
            evitando desconfortos físicos. Aqui estão algumas dicas sobre o que comer antes e durante os exames:

            <h2>Refeições Balanceadas:</h2>
            <p>
                por refeições equilibradas e menos gordurosas. Saladas, grãos e proteínas magras são boas escolhas. 
                Eia ou intoxicação alimentar podem afetar seu desempenho.
                No café vite alimentos diferentes na véspera e nos dias do exame, pois reações como indigestão, azia, 
                diarreda manhã, escolha pães, cereais integrais,
                <strong>frutas</strong> e queijos magros.
                <strong>Hidratação</strong> Beba água regularmente.  
                Evite o consumo de bebidas alcoólicas na véspera do exame, pois elas podem causar desidratação.
            </p>
            <h4>Frutas Recomendadas para os estudantes</h4>
                <ul>
                  <strong> 
                    <li> Banana: Rica em potássio, a banana é excelente para o cérebro e proporciona sensação de saciedade.</li>
                    <li>Maçã: Prática e rica em fibras e vitaminas.</li>
                    <li>Uva: Outra boa opção.</li>
                  </strong> 
                </ul>    
                <strong>Lembre-se de que uma alimentação adequada pode influenciar positivamente seu desempenho durante as provas.</strong>
        </div>  
    </div>
</body>
</html>