<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/cadastro.css">
    <title>Document</title>
</head>
<body>
    <form id="form" action="/atualizarperfil" method="post">
        <h5>alcunha</h5>
        <input type="text" id="pnome" name="alcunha" placeholder="frutafavorita">
    
        <h5>frutafavorita</h5>
        <input type="text" id="pnome" name="frutafavorita" placeholder="frutafavorita">
    
        <h5>Atualizar</h5>
        <input type="submit" id="sub" value="atualizarpefil">
    </form>
</body>
</html>