<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/cadastro.css">
    <title>Document</title>
</head>
<body>
    <form id="form" action="/atualizarcadastro" method="post">
        <h5>Nome</h5>
        <input type="text" id="pnome" name="nome" placeholder="nome">
        <h5>Email</h5>
        <input type="email" id="email" name="email" placeholder="email">
        <h5>senha</h5>
        <input type="password" name="senha" id="senha" placeholder="senha">
        <h5>cadastrar-se</h5>
        <input type="submit" id="sub" value="atualizarcadastro">
    
    </form>
    
</body>
</html>







