<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/cadastro.css">
  
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <form id="form" action="/cadastrar" method="post">
        <h5>Nome</h5>
        <input type="text" id="pnome" name="nome" placeholder="nome">

        <h5>Email</h5>
        <input type="email" id="email" name="email" placeholder="email">

        <h5>senha</h5>
        <input type="password" name="senha" id="senha" placeholder="senha">

        <h5>Confirmar senha</h5>
       <input type="password"  id="conf" placeholder="Confirme a senha">

        <h5>cadastrar-se</h5>
        <input type="submit" id="sub" value="cadastrar-se">

    </form>

  </div>
    <script  src="../../../public/JS/index.js"></script>
</body>
</html>