<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/curiosidades.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
     <h1> Curiosidades </h1>
        <div class="maior">
          <div class="conteudo">
            Fruta é a parte polposa que rodeia a semente de plantas. 
            Possui aroma característico, é rica em suco, 
            podendo ser consumida crua e geralmente possui sabor doce.</div>
            <div class="box1"><img src="img/frotas.jpg" alt=""></div> 
        </div>   
        <div class="box2">
           <p>
                O fruto é uma estrutura que se desenvolve a partir do ovário 
                das flores das plantas com flores. É a parte da planta que contém as sementes e 
                tem como principal função protegê-las 
                e auxiliar na sua dispersão. Os frutos podem ser encontrados em uma grande variedade de formas,
                tamanhos, cores e sabores,e são consumidos por humanos e animais de diversas espécies.
            </p>
            
            <div class="dois">
                <img src="img/berry.jpg" alt="">
            <div>
        </div>  
    </div> 
    <p>
        Em resumo podemos dizer que todo fruto é uma fruta, mas nem toda fruta é um fruto verdadeiro. 
        Afinal, a botânica e a linguagem popular têm suas próprias nuances! 
     </p> 
    
</body>
</html>