<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/vitaminas.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
       <div></div>
        <div class="text">
            <p class="para">  
              As frutas e seus benefícios As frutas, quando consumidas regularmente, trazem inúmeros benefícios para a saúde. 
              Elas retardam o envelhecimento precoce, fornecem energia, são calmantes e exercem um papel fundamental no funcionamento correto do intestino. 
              Você sabia que o intestino é o responsável por 80% da imunidade do corpo.por isso o consume de frutas diariamente é indispensaveil.<br><br>

             <h3><strong>Alimentação saudavel conheça as 8 frutas mais nutritivas.</strong></h3>
                <nav>
                  <li><strong>maçã:</strong> optima para manter os niveis de colesterois estaveis difucultando absorção de gorduras e açucar.</li>
                  <li><strong>banana:</strong>ela contem vitaminas B e C triptofano resposaveis por aumentar os niveis de serotonina e tambem no 
                  controle pelo desejo dos doces</li>
                  <li><strong>pera:</strong>ajuda na perda de peso, além se ser rica em vitaminas A , C e complexo B,água e fibras.A pera é um poderoso 
                  diuretico e ainda ajuda a combater os gases estomacais e intestinais. </li>
                  <li><strong>melancia:</strong>indicada para manter o corpo hidratado além de conter vitaminas do complexo A e B.É ideal para comer in natura 
                   e tambem para o preparo de sucos.</li>
                  <li><strong>abacate:</strong>a gordura do abacate  chamada monoinsaturados presente na fruta eleva o o colesterol bom, além de 
                  ser um optimo hidratante para pele e cabelos, e tambem auxiliar na melhora da memoria .</li>
                  <li><strong>uva:</strong>por conter ação do resveratrol, a ingestão do bagaço da uva a diminuir consideravelmenteo risco de doenças
                  cardiovasculares.A uva tem,ainda ação antioxidante e ajuda a combater o colesterol ruim. </li>
                  <li><strong>laranja:</strong> a laranja é conhecida por conter um alto teor de vitaminas C, o que é indispensavel para fortalecer o
                  sistema imunologico.Além disso a laranja é rica em compostos anticancerígenos.</li>
                 <li><strong>melão:</strong> possui altos índices de vitaminas A, B6 e 6, potássio,niacina(vitaminasimportantes para o metabolismo),
                 fibre dietética,ácido fólico e nutrientes que auxiliam a estabilizar a pressão arterial.</li>.
                 </nav> 

                <nav><a href="/curiosidades">ver mais em curios...</a></nav>
            </p>  

        </div>
    </div>  
    
</body>
</html>